@{
}

<h2>@this.Path</h2>
<h2>Shared Api</h2>
<ul>
    <li>
        <a asp-controller="Foo" asp-action="GetAll">Api/User/GetAll</a>
    </li>
    <li>
        <a asp-controller="Foo" asp-action="GetAll2">Api/User/GetAll2</a>
    </li>
</ul>
<hr />
<h2>Basic Auth</h2>
<ul>
    <li>
        <a asp-controller="BasicAuth" asp-action="Authenticate">Api/BasicAuth/Authenticate</a>
    </li>
</ul>
<hr />
<h2>JWT</h2>
<ul>
    <li>
        <a asp-controller="JwtAuth" asp-action="Authenticate">Api/JwtAuth/Authenticate</a>
    </li>
</ul>
<hr />
<h2>Cookie Auth</h2>
<ul>
    <li>
        <a asp-controller="CookieAuth" asp-action="CookieLogin">CookieAuth/CookieLogin</a>
    </li>
    <li>
        <a asp-controller="CookieAuth" asp-action="Logout">CookieAuth/Logout</a>
    </li>
    <li>
        <a asp-controller="CookieAuth" asp-action="MyClaims">CookieAuth/MyClaims</a>
    </li>
    <li>
        <a asp-controller="CookieAuth" asp-action="Admin">CookieAuth/Admin</a>
    </li>
    <li>
        <a asp-controller="CookieAuth" asp-action="Member">CookieAuth/Member</a>
    </li>
</ul>
<hr />