@{
}

<h2>@this.Path</h2>
<h2>Shared Api</h2>
<ul>
    <li>
        <a asp-controller="Foo" asp-action="GetAll">Api/User/GetAll</a>
    </li>
    <li>
        <a asp-controller="Foo" asp-action="GetAll2">Api/User/GetAll2</a>
    </li>
</ul>
<hr />
<h2>Basic Auth</h2>
<ul>
    <li>
        <a asp-controller="BasicAuth" asp-action="Authenticate">Api/BasicAuth/Authenticate</a>
    </li>
</ul>
<hr />
<h2>JWT</h2>
<ul>
    <li>
        <a asp-controller="JwtAuth" asp-action="Authenticate">Api/JwtAuth/Authenticate</a>
    </li>
</ul>
<hr />